<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
          <h1>{{ cabecalho }}</h1>
        </div>
        <div class="card-body">
             API Ceph (Block/Object Storage)
            <br>Frontend: <a href="http://localhost:8080">http://localhost:8080</a>
        </div>
        <div class="card-footer text-muted">
            Powered by Flask & Gunicorn
        </div>
      </div>
</body>
</html>